:root{
    background-color: #FFEDDB ;
}


#nav {
    background-color: #FFEDDB;
}

.navbar a{ text-decoration: none;
        color: black;
}


#search-button{
    background-color: #E3B7A0;
    color: black;
}



#section-dog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFEDDB;
}

#section-cat{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFEDDB;
}


.card {
    background-color: #E3B7A0 ;
    border-style: solid;
    border-radius: 10px ;
    border-width: 2px ;
    border: #FF9F29 ;
    margin-bottom: 20px; 
}

.card img{
    float:left;
    width: 100%;
    height: 100px;
    object-fit: cover;

}

.card button{
    border-radius: 10px;
    background-color:antiquewhite;
    
    
}
.carousel-item{
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 50%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:black
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:black
}